<!DOCTYPE html>
<html>
	<head>
		<title>Agregar carreras</title>
	</head>
	<body>
		<form action = '/careers' method='POST'>
			<input type='text' name='name' value='name'>
			<input type='submit' value='Enviar'>
  		<form>
	</body>
</html>
