<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/styles/style_career_data.css">

        <title>Datos de la carrera</title>
        <link rel="shortcut icon" href="images/UNRC-color.png">
    </head>
    <body>
        <h1> Resumen de la carrera <%= @career.name%> </h1>
        <div class="container">
          <ul>
              <li> Id: <%= @career.id%> </li>
              <li> Nombre: <%= @career.name%> </li>
              <li> Cuestionarios en los que aparece: <%= @career.surveys.count %> </li>
          </ul>
        </div>

    </body>
</html>
