<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
            @font-face {
                font-family: "Rubik";
                src: url("../fonts/Rubik/Rubik-VariableFont_wght.ttf");
            }

            body{
                background: #d1e0f2;
                background-size: contain;
                background-position-y: 200px;
                background-repeat: no-repeat;
            }

            h1{
                text-align: center;
                padding: 8px;
                max-width: 8000px;
                font-size: 40px;
                font-weight: normal;
                line-height: 0px;
                font-family: "Rubik";
            }

            ul.horizontal{
                margin: 0;
                padding: 0;
            }

            ul.horizontal li{
                display: block;
                float: left;
                padding: 10px;
            }
        </style>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Datos de la carrera</title>
        <link rel="shortcut icon" href="images/UNRC-color.png">
    </head>
    <body>
        <h1> Resumen de la carrera <%= @career.name%> </h1>
        <ul>
            <li> id: <%= @career.id%> </li>
            <li> name: <%= @career.name%> </li>
            <li> survey count: <%= @career.surveys.count %> </li>
        </ul>
    </body>
</html>