<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link rel="stylesheet" type="text/css" href="styles/style_list_careers.css">
		<title>Lista de carreras disponibles</title>
		<link rel="shortcut icon" href="images/UNRC-color.png">
	</head>
	<body>
		<div class="head">
			<h1>Listado de carreras:</h1>
		</div>

		<div class="container">

			<ul>
				<% @careers.map do |career| %>
						<div class="caja">
								<a href="careers/<%= career.id%>"> <%= career.name %></a><hr/>
						</div>

			 	<%end%>
			</ul>
		</div>
	</body>
</html>
