<!DOCTYPE html>
<html>
	<head>
		<title>Lista de carreras disponibles</title>
	</head>
	<body>
		<form action = '/careers' method='POST'>
			<input type='text' name='name' value='Agregar carrera'>
			<input type='submit' value='Enviar'>
  		<form>
  		<hr> 
		<h1>Carreras disponibles</h1>
		<ul>
			<% @careers.map do |career| %>
		 		<li>
		 			<a href="careers/<%= career.id%>"> <%= career.name %></a>
		 			(aparece en : <%= career.surveys.count.to_s %> cuestionarios)
		 		</li>
		 	<%end%>
		</ul>
	</body>
</html>
