<!DOCTYPE html>
  
<html>
    <head>
        <title>
          Cuestionarios UNRC
        </title>
    </head>
    <body>
        <center><h1> Cuestionarios La Sobrina </h1></center>
        <p> por favor, elija una opcion: </p>
        <ul>
            <li><a href="/careers">Carreras disponibles</a></li>
            <li><a href="/surveys">Cuestionarios por carrera</a></li>
            <li><a href="/questions">Crear preguntas</a></li>
        </ul>
    </body>
</html>

