<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Universidad Nacional de Rio Cuarto</title>
</head>
<body>
    <div>
        <div class="sis">
        <img src="logounrc.png" alt="">
        </div>
        <h1>Universidad Nacional Rio Cuarto</h1>
            <ul>
              <li><a href="https://www.unrc.edu.ar/">Sobre La UNRC </a></li>
              <li><a href="https://sisinfo.unrc.edu.ar/">Sial</a></li>
              <li><a href="https://www.evelia.unrc.edu.ar/evelia/">Evelia</a></li>
              <li><a href="questions.html">Test Vocacional</a></li>
              <li><a href="careers.html">Carreras Disponibles</a></li>
            </ul>
            <img src="./UNRC-color.png" width="500" height="900">
    </div>
    <div class="capa"></div>
</body>
</html>