<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        body{
            background:#aed6f1;
        }
        .encabezado{
            font-size: 30px;
            margin: 10px;
            text-align: center;
            font-family: 'Lucida Sans';
            color: black;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color:black;
            border: 1px solid white;
            font-family: 'Lucida Sans';
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color:gray;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universidad Nacional de Rio Cuarto</title>
</head>
<body>
    <div>
        <nav>
            <img src="logounrc.png" alt="">
            <h1 class="encabezado">Cuestionarios para tests vocacionales</h1>
            <ul>
              <li><a href="/careers">Carreras disponibles</a></li>
              <li><a href="/surveys">Cuestionarios por Carreras</a></li>
              <li><a href="/questions">Crear preguntas</a></li>
            
            </ul>
        </nav>
    </div>
</body>
</html>