<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Universidad Nacional de Rio Cuarto</title>
</head>
<body>
    <div>
        <nav>
            <img src="logounrc.png" alt="">
            <h1 class="encabezado">Cuestionario La Sobrina</h1>
            <ul>
              <li><a href="/careers">Carreras disponibles</a></li>
              <li><a href="/surveys">Cuestionarios por Carreras</a></li>
              <li><a href="/questions">Crear preguntas</a></li>
            
            </ul>
          </nav>
    </div>
</body>
</html>