<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universidad Nacional de Rio Cuarto</title>
</head>
<body>
    <div>
        <nav>
            <img src="images/logounrc.png" alt="">
            <h1 class="encabezado">Cuestionarios para tests vocacionales</h1>
            <ul>
              <li><a href="/careers">Carreras disponibles</a></li>
              <li><a href="/surveys">Cuestionarios por carreras</a></li>
              <li><a href="/respond_surveys">Completar cuestionario</a></li>  
            </ul>
        </nav>
    </div>
</body>
</html>