<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Universidad Nacional de Rio Cuarto</title>
    <link rel="shortcut icon" href="images/UNRC-color.png">
</head>
<body>
  <div>
    <div class="sis">
      <img src="images/logounrc.png" alt="">
    </div>
    <h1>Universidad Nacional Rio Cuarto</h1>
      <ul>
        <li><a href="https://www.unrc.edu.ar/">Sobre la UNRC </a></li>
        <li><a href="https://sisinfo.unrc.edu.ar/">Sial</a></li>
        <li><a href="https://www.evelia.unrc.edu.ar/evelia/">Evelia</a></li>
        <li><a href="/respond_surveys">Test vocacional</a></li>
        <li><a href="/surveys">Cuestionarios</a></li>
        <li><a href="/careers">Carreras</a></li>
     </ul>
    <img src="images/UNRC-color.png" width="300" height="500" class="logoUni">
  </div>
  <footer>
    <p>
      Copyright 2021 Universidad Nacional Rio Cuarto. Todos los derechos reservados.
    </p>
  </footer>
</body>
</html>