@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik/Rubik-VariableFont_wght.ttf");
}
html, body {
    height:100%;
}


body{
    font-family: Rubik;
    background-image: linear-gradient(#bdcfd2, white);
    background-color: #bdcfd2;
    font-size: 1.2rem;
    margin: 0;
}


.container{
    width: 85%;
    max-width: 850px;
    margin: 0px auto;
}


h1{
    text-align: center;
    padding: 8px;
    max-width: 8000px;
    font-size: 40px;
    font-weight: normal;
    line-height: 0px;
    font-family: "Rubik";
}

ul.horizontal{
    margin: 0;
    padding: 0;
}

ul.horizontal li{
    display: block;
    float: left;
    padding: 10px;
}
