@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-VariableFont_wght.ttf");
}

* {
  font-family: Rubik;
}

.head {
  background: #bdcfd2;
  color: black;
  padding: 0.4rem 0;
  font-size: 16px;
  margin: 10px;
  text-align: center;
  position: relative;
}

body {
  background-color: white;
  font-size: 1.2rem;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 40px 0;
  position: relative;
  text-align: center;
  justify-content: space-between;
}

.career_select select {
  background: #0080ff;
  width: 150px;
  font-size: 18px;
  padding: 15px;
  margin-block-end: 20px;
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.DateInput_first {
  display: flex;
  justify-content: center;
  background-color: #0080ff;
  padding: 15px;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-left: 50%;
  margin-top: 5%;
}

.DateInput_last {
  background-color: #0080ff;
  display: flex;
  justify-content: center;
  padding: 15px;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-left: 50%;
  margin-top: 5%;
}

::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.container input[type="submit"] {
  position: relative;
  bottom: 0px;
  border: none;
  background-color: #bdcfd2;
  padding: 14px 28px;
  margin: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
