@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik/Rubik-VariableFont_wght.ttf");
}


body{
    font-family: Rubik;
    /*background-image: linear-gradient(#bdcfd2, white);*/
    background-color: white;
    font-size: 1.2rem;
    margin: 0;
}

.head{
    background: #bdcfd2;
    font-family: "Rubik";
    color: black;
    padding: 0.4rem 0;
    font-size: 16px;
    margin: 10px;
    text-align: center;

}

.caja{
  padding: 0.4rem 0;
  margin: 10px;
  /*border: 1px dotted grey;*/
  font-family: "Rubik";
  color: black;
  font-size: 18px;
  text-align: left;
}
  .caja a{
    color: #262929;
    text-decoration: none;
  }

.container{
    width: 85%;
    max-width: 850px;
    margin: 0px auto;
    text-align: center;
}

hr {
    height: 8px;
    // background-color: red;
    background-image: linear-gradient(90deg, lightblue, transparent);

    border: 0;
    height: 1px;
}
/*body{
    background: #d1e0f2;
    background-size: contain;
    background-position-y: 200px;
    background-repeat: no-repeat;
}
*/

h1{
    text-align: center;
    color:#262929;
    padding: 8px;
    margin-top: 30px;
    max-width: 8000px;
    font-size: 40px;
    font-weight: normal;
    line-height: 0px;
    font-family: "Rubik";
}

ul.horizontal{
    margin: 0;
    padding: 0;
}

ul.horizontal li{
    display: block;
    float: left;
    padding: 10px;
}

li a {
    display: block;
    color: black;
    text-align: left;
    padding: 15px 30px;
    text-decoration: none;
}

li a:hover {
    color: gray;
}

.text_field {
    overflow: hidden;
}

.text_field input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px;
}

/*.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}*/

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom_radio_button {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input ~ .custom_radio_button {
  background-color: #ccc;
}

.container input:checked ~ .custom_radio_button {
  background-color: #2196F3;
}

.custom_radio_button:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .custom_radio_button:after {
  display: block;
}

.container .custom_radio_button:after {
  left: 7px;
  top: 5px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
