@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-VariableFont_wght.ttf");
}

body{
    background: #c82a5a;
    background-size:contain;
    background-position-y: 200px;
    background-repeat: no-repeat;
}

.sis{
    width: 20px;
    height: auto;
    display: left;
}

h1{
    text-align: center;
    padding: 8px;
    max-width: 8000px;
    font-size: 50px;
    font-weight: normal;
    line-height: 0px;
    font-family: "Rubik";
}

.encabezado{
    font-size: 30px;
    margin: 10px;
    text-align: center;
    font-family: 'Lucida Sans';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    border: 1px solid white;
    font-family: 'Lucida Sans';
}

li {
    float: left;
    width: 16.66%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}

li a:hover {
    background-color:gray;
}

h2{
    
}

.logoUni{
    display:block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
    filter: alpha(opacity = 50);    
}

