body{
    background: #d1e0f2;
    background-size:contain;
    background-position-y: 200px;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    padding: 8px;
    max-width: 8000px;
    font-size: 40px;
    font-weight: normal;
    line-height: 0px;
    font-family: "Rubik";
}

ul.horizontal{
    margin:0;
    padding:0;
}

ul.horizontal li{
    display:block;
    float:left;
    padding:0 10px;
}

li a {
    display: block;
    color: black;
    text-align: left;
    padding: 15px 30px;
    text-decoration: none;
}

li a:hover {
    color:gray;
}

.text_field {
    overflow: hidden;
}

.text_field input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px; 
}


