<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style_list_careers.css">
    <title>cuestionarios</title>
    <link rel="shortcut icon" href="images/UNRC-color.png">
</head>
<body>
    <h1>Carreras obtenidas por cada usuario</h1>
    <ul>
        <% @careers.map do |career| %>
            <p><a href="careers/<%= career.id %>"> <%= career.name %></a></p>
            <ul>
                <% @surveys.select{|s| s.career_id == career.id}.map do |survey| %>
                    <li>
                        <%= survey.username %>
                    </li>
                <%end%>
            </ul>
        <%end%>
    </ul>
</body>
</html>