<!DOCTYPE html>
<html>
<head>
    <title>cuestionarios</title>
</head>
<body>
    <form action = '/surveys' method='POST'>
        <input type='text' name='name' value=''>
        <input type='submit' value='Enviar'>
    <form>
    <hr> 
    <h1>Cuestionarios disponibles</h1>
    <ul>
        <% @surveys.map do |survey| %>
            <li>
                <a href="surveys/<%= survey.id%>"> <%= survey.career.name %></a>
                (<%= survey.responses.question.count.to_s %>)
            </li>
        <%end%>
    </ul>
</body>
</html>