<!DOCTYPE html>
<html>
<head>
    <title>cuestionarios</title>
</head>
<body>
    <h1>Carreras obtenidas por cada usuario</h1>
    <ul>
        <% @careers.map do |career| %>
            <p><a href="careers/<%= career.id %>"> <%= career.name %></a></p>
            <ul>
                <% @surveys.map do |survey| %>
                    <li>
                        <a href="surveys/<%= survey.id%>"> <%= survey.username %></a>
                    </li>
                <%end%>
            </ul>
        <%end%>
    </ul>
</body>
</html>