<!DOCTYPE html>
<html>
<head>
    <title>crear pregunta</title>
</head>
<body>
    <h1>Crear pregunta</h1>
    <form action = '/questions' method="POST" class="form-question">

        <div class="form-question">
            <label for="name">Pregunta: </label>
            <input type="text" name="name" id="name" required>
        </div>

        <div class="form-question">
            <label for="description">Descripcion: </label>
            <input type="text" name="description" id="description">
        </div>

        <div class="form-question">
            <label for="number">Numero: </label>
            <input type="number" name="number" id="number" min="1" required>
        </div>

        <div class="form-question">
            <label for="type">Tipo:</label>
            <select name="type" id="type">
                <option disabled selected hidden>Seleccione:</option>
                <option>Single Choice</option>
                <option>Multiple Choice</option>
            </select>
        </div>
        <hr>
        <p>Agregar respuestas (los campos con "*" son obligatorios):</p>
        <div class="form-question">
            <label for="text1">Respuesta 1*: </label>
            <input type="text" name="text1" id="text1" required>
        </div>
        <div class="form-question">
            <label for="text2">Respuesta 2*: </label>
            <input type="text" name="text2" id="text2" required>
        </div>
        <div class="form-question">
            <label for="text3">Respuesta 3: </label>
            <input type="text" name="text3" id="text3">
        </div>
        <div class="form-question">
            <label for="text4">Respuesta 4: </label>
            <input type="text" name="text4" id="text4">
        </div>
        <div class="form-question">
            <label for="text5">Respuesta 5: </label>
            <input type="text" name="text5" id="text5">
        </div>
        
        <div class="form-question">
            <input type="submit" value="Enviar">
        </div>
    </form>

</body>
</html>