<!DOCTYPE html>
<html>
<head>
    <title>lista de preguntas</title>
</head>
<body>
    <h1>Preguntas disponibles</h1>
    <ul>
        
        <% @questions.map do |question| %>
            <li>
                <a href="questions/<%= question.id%>"> <%= question.name %></a>
                (Opciones: <%= question.choices.count.to_s %>)
            </li>
        <%end%>
    </ul>
</body>
</html>